@font-face {
    font-family: 'bebasneue';
    src: url(../fonts/BebasNeue-Regular.woff) format('woff');
}
@font-face {
    font-family: 'poppins-reguler';
    src: url(../fonts/poppins-regular-webfont.woff) format('woff');
}