body{
    background-image: url(../bg/beach.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.title-main{
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    margin-bottom: -20px;
}
.nav{
    width: 100%;
    height: 50px;
    position: relative;
    background-color: black;
    border-radius: 10px;
    top: 40px;
}

.nav .nav-menu li {
    display: inline-block;
    padding-top: 12px;
    margin-left:100px;
    
    
}
.nav .nav-menu li:hover{
    text-decoration: underline;
}
.nav .nav-menu li a {
    text-decoration: none;
    color: wheat;
    font-size: 18px;
    
    
    
}
.dropdown{
    background-color: black;
    position: absolute;
    left: 200px;
    bottom: 0px;
    display: inline-block;
    width: 100px;
    margin-left: 20px;
    
}

.dropdown-child{
    position: absolute;
    display: none;
    background-color: black;
    min-width: 0px;
    z-index: 999999;
    
    
}

.dropdown-child a{
    color: wheat;
    padding: 20px;
    text-decoration: none;
    display: block;
    font-size:15px;
    
    
}

.dropdown:hover .dropdown-child{
    display: block;
}

.dropdown-child a:hover{
    text-decoration: underline;
}

.mainmenubtn{
    font-size: 16px;
    background-color: black;
    color: wheat;
    border: none;
    cursor: pointer;
    padding-bottom: 17px;
    width: 80px;
    
    
    
}
.mainmenubtn:hover{
    text-decoration: underline;
}

.sidebgright{
    position:fixed;
    right:-400px;
    bottom: -40px;
}
.sidebgleft{
    position: fixed;
    left: -410px;
    bottom: -40px;
}

.container{
    width: 1000px;
    margin: 10px auto;
    background-color:white;
    border: 1px solid black;
    

}
.anime-title{
    margin-top: 50px;
    margin-left: 49px;
    padding-top: .1px;


}

.anime-image{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    
}
.anime-text{
    padding-right: 20px;
    line-height: 20px;
    text-align: justify;
}

.anime-trailer{
    float: right;
    padding-right: 20px;
}
.anime-trailer video{
    width:730px
}
.anime-genre{
    line-height: .5;
    padding-left: 5px;
}


.clear{
    clear: both;
}